.header {
    background-color: black;
    position: fixed;
    padding: 15px 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.content {
    width: 1200px;
    display: flex;
    align-items: center;
}

.content .logo {
    color: red;
    margin-left: 90px;
}

.content .logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-link {
    font-size: 25px;
    color: red;
}

.logo-link span {
    color: #fff;
    font-weight: 600;
}

.fa-bars {
    font-size: 30px;
    color: #fff;
    cursor: pointer;
}

.content .search-box {
    width: 480px;
    height: 40px;
    margin-left: 140px;
    display: flex;
    align-items: center;
    position: relative;
}

.search-box input {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    padding: 10px;
    padding-left: 40px;
    border: none;
    border: 1px solid grey;
    outline: none;
}

.search-box .search-icon {
    position: absolute;
    left: 10px;
    color: grey;
}

.search-box:focus-within .search-icon {
  color: black;
}

.content .btn-login {
    padding: 0 8px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 220px;
    min-width: 140px;
    border-radius: 999px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    color: rgb(59, 59, 220);
    min-width: 140px;
    background-color: #fff;
}

.btn-login i {
    font-size: 20px;
}
