@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: "Roboto", sans-serif;
}

.btn {
  cursor: pointer;
  width: 90px;
  line-height: 40px;
  border-radius: 5px;
  outline: none;
  border: none;
}

.btn:hover {
  opacity: 0.9;
}

main {
  width: 1400px;
  margin-top: 100px;
  margin-left: 100px;
  padding-bottom: 250px;
}

body {
  /* background-color: black; */
  background: #020024;
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
}
